.show {
    display: block;
}

.hide {
    display: none;
}

#guardYes, #guardNo, #jaceYes, #jaceNo, #thiefYes, #thiefNo { 
    border-radius: 3px;
    border-color: #b56262;
    margin: 2px;
    background-color: #d38888;
    color: #9b5051;
    height: 40px;
    width: 50px;
    
}

.thiefBtns, .thiefBtns2 {
    position: absolute;
    top: 63%;
    left: 70%;
}

#thiefYes2, #thiefNo2 {
    border-radius: 3px;
    border-color: #b56262;
    margin: 2px;
    background-color: #d38888;
    color: #9b5051;
    height: 40px;
    width: 200px;
}

.guardBtns {
/* background-color:hsla(39,30%,89%,0.8);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px; */
    position: absolute;
    top: 45%;
    left: 90%;
    /* width: 445px;
    height: 855px;
    overflow: scroll; */
}

.jaceBtns {
    position: absolute;
    top: 45%;
    left: 60%;
}

/* #guardYes {
    position: absolute;
    top: 1%;
    z-index: 10;
}

#guardNo {
    position: absolute;
    top: 10%
} */

#snake{
    background-color:rgba(0,0,0,0.4);
    border-radius: 0px 0px 10px 10px;
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 0;
    /* display: none; */
    /* display: block; */
    z-index: 3;
    opacity: 3;
}

#hangman{
    background-color:rgba(0,0,0,0.4);
    border-radius: 0px 0px 10px 10px;
    height: 1000px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    opacity: 3;
  }
  

.beige{
    /* background-color: gray; */
    background-color:rgba(0,0,0,0.4);
    /* background-color: hsla(60, 20%, 99%, 0.9); */
    border-radius: 0px 0px 10px 10px;
}

.hide-screen {
    background-color: black;
    border-color: black;
}

.hide-screen:hover {
    background-color: black;
    border-color: black;
}