.inventoryBGI {
    background-color:hsla(39,30%,89%,0.8);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: .02%;
    left: 39px;
    width: 870px;
    height: 50px;
    margin: 10px;
    z-index: 2;
}

.heart-three {
    width: 70px;
    margin: 2px;
}

.heart-two {
    width: 50px;
    margin: 2px;
}

.heart-one {
    width: 30px;
    margin: 2px;
}

.invtImg {
    width:30px;
    margin: 5px;
}