#equation {
    position: absolute;
    top: 46%;
    right: 20%;
    color: black;
    background-color:white;
    width: 400px;
    text-align: center;

}
 #required-images {
    display: none;
}

.form-style {
    position: absolute;
    top: 49%;
    right: 42%;
}

.word-style {
    position: absolute;
    z-index: 7;
    color: white;
    top: 33%;
}


/* .show {
    display: block;
}

.hide {
    display: none;
} */

#lose-cover {
    background-color: black;
    color: white;
    position: absolute;
    z-index: 7;
    height: 500px;
    width: 700px;
    top: 5%;
    left: 14% !important;
    text-align: center;
}
