#equation {
    position: absolute;
    top: 62%;
    right: 47%;
    color: black;

}


.show {
    display: block;
}

.hide {
    display: none;
}

#lose-cover {
    background-color: black;
    color: white;
    position: absolute;
    z-index: 7;
    height: 500px;
    width: 700px;
    top: 5%;
    left: 25%;
}
