.tile {
    display: inline-flex;
    background-color: olivedrab;
}

.grass {
    background-color: olivedrab;
}

.dirt {
    background-color: lightsalmon;
}

.shop {
    background-image: url('/tiles/erikstore2.png');
}

.tree {
    background-image: url('/tiles/tree.png');
}

.rock {
    background-image: url('/tiles/rock.png')
}

.castle {
    background-image: url('/tiles/castle.png')
}
