#musicBtn{
    border: solid black 1px;
    background-color:#99cad7;
    position: fixed;
    top: 8%;
    left: 90%;
    border-radius: 10px;
    width: 75px;
    text-align: center;
    z-index: 4;
}
#musicBtn:hover {
    color: #b6e4f5;
}