#musicBtn{
    border: none;
    background-color:#99cad7;
    position: fixed;
    top: 7%;
    left: 90%;
    border-radius: 10px;
    width: 75px;
    text-align: center;
}
#musicBtn:hover {
    color: #b6e4f5;
}